/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}


h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

pre {
  white-space: pre-wrap;
}

select {font-size: inherit;}

#result {margin-top: 1em;}
.bio {display: flex;}
.bio .img {width: 130px;}
.bio .img img {width: 100%;}
.bio .info {display: flex; flex-direction: column; flex: 1; margin-left: 1em;}
.bio h3, .bio h4, .bio p {margin: 0; padding: 0;}

#content {
  display: flex
}

#form_results {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#map {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 85vh;
}
